<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Vibify Home</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="relative bg-black sticky top-0 text-2xl z-50">
      <!-- Flex container -->
      <div class="flex justify-between">
        <div class="font-heading text-white p-3">Vibify</div>
        <!-- Menu items -->
        <div class="hidden md:flex space-x-2">
          <a href="#description" class="text-white hover:text-darkBlue p-3"
            >How it Works</a
          >
          <a href="#" class="text-white hover:text-darkBlue p-3"
            >Log In / Register</a
          >
        </div>
      </div>
    </nav>
  </body>
</html>
