{% extends 'base.html' %} {% block title %}Playlists{% endblock %} {% block
content %}
<!-- Playlist Page -->
<h2
  class="text-6xl text-center text-lightGreen text-decoration-line: underline font-heading py-3 mb-2"
>
  {{session["title"]}}
</h2>
<div
  id="playlist"
  class="h-full bg-darkBlue"
  data-token="{{session['access_token']}}"
>
  <!-- Flex container -->
  <div class="h-full flex flex-row justify-evenly">
    <!-- Playlist -->
    <div class="flex flex-col h-4/5 w-2/5">
      <div
        class="flex flex-col items-center overflow-y-auto border-solid border-white border-2 rounded-md"
      >
        {% for track in session["playlist"]%}
        <div
          class="track w-full text-center bg-slate-700 cursor-pointer hover:bg-lightGreen"
        >
          <p
            class="w-full h-full p-3"
            data-id="{{track.id}}"
            data-image="{{track.album_image_url}}"
          >
            {{track.name}} - {{track.artist}}
          </p>
        </div>
        {% endfor %}
      </div>
      {% if session["curr_user"] %}
      <form action="/playlists/{{session['title']}}" method="post">
        <button
          class="border-2 border-white bg-lightGreen rounded-md p-3 w-full hover:bg-black hover:border-lightGreen hover:text-lightGreen transition duration-1500"
        >
          Add to Spotify
        </button>
      </form>
      {% endif %}
    </div>
    <!-- Song Information / Player-->
    <div class="h-4/5 w-2/5 flex flex-col justify-between items-center">
      <img
        class="h-4/5 border-solid border-white border-2 rounded-md"
        id="album-image"
        src="{{session['playlist'][0]['album_image_url']}}"
        alt=""
      />
      <iframe
        class="iframe-track border-solid border-white border-2 rounded-md"
        src="https://open.spotify.com/embed/track/{{session['playlist'][0]['id']}}"
        frameborder="0"
        width="100%"
        height="80"
        allowtransparency="true"
        allow="autoplay; encrypted-media; picture-in-picture; fullscreen"
      ></iframe>
    </div>
  </div>
  <!-- Footer -->
  <footer class="flex justify-end bg-black text-2xl">
    <div class="p-3 space-x-2">
      <a
        href="https://www.linkedin.com/in/tsuyoshi-koyama-2018/"
        class="hover:text-darkBlue"
        target="blank"
        ><i class="fa-brands fa-linkedin fa-xl"></i
      ></a>
      <a
        href="https://github.com/tsuyokoya/vibify"
        class="hover:text-darkBlue"
        target="blank"
        ><i class="fa-brands fa-github fa-xl"></i
      ></a>
    </div>
  </footer>
</div>

{% endblock %} {% block scripts %}
<script src="../static/js/playlist.js"></script>
{% endblock %}
