{% extends 'base.html' %} {% block title %}Vibify Register{% endblock %} {%
block content %}
<!-- Registration -->
<div class="flex flex-col items-center bg-deepPurple py-14">
  <h2 class="text-6xl font-heading">New to Vibify? Sign Up</h2>
  <!-- Registration form -->
  <form
    action="{{url_for('show_register_page')}}"
    method="POST"
    class="text-2xl my-14 w-1/2 flex flex-col items-center"
  >
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="w-full flex justify-between">
      {{field.label}} {{field (class="h-10 w-1/2 mb-6 text-black rounded-lg")}}
      {% for error in field.errors %} {{error}} {% endfor %}
    </div>
    {% endfor %}
    <button
      type="submit"
      name="register-btn"
      formaction="/register"
      class="border-2 border-white bg-black rounded-md p-3 mt-8 w-1/2 transition hover:border-white hover:bg-deepPurple hover:scale-110 duration-1500"
    >
      Create an Account
    </button>
  </form>
  <p class="text-4xl font-heading">Or, sign up with Spotify:</p>
  <form
    action="/authorize"
    class="text-2xl my-14 w-1/4 flex flex-col items-center"
  >
    <button
      type="submit"
      name="register-spotify-btn"
      class="flex justify-center border-2 border-white bg-black rounded-md p-3 mt-8 w-full transition hover:border-white hover:bg-deepPurple hover:scale-110 duration-1500"
    >
      <img
        src="../static/images/spotify-icons-logos/logos/Spotify_Logo_RGB_Green.png"
        alt="Spotify logo"
        class="h-10"
      />
    </button>
  </form>
</div>
<!-- Footer -->
<footer class="flex justify-end bg-black text-2xl absolute inset-x-0 bottom-0">
  <div class="p-3 space-x-2">
    <a
      href="https://www.linkedin.com/in/tsuyoshi-koyama-2018/"
      class="hover:text-darkBlue"
      target="blank"
      >Contact</a
    >
    <a
      href="https://github.com/tsuyokoya"
      class="hover:text-darkBlue"
      target="blank"
      >Github</a
    >
  </div>
</footer>
{% endblock %}
